@font-face {
  font-family: "BTTF";
  src: local("BTTF"), url("/fonts/BTTF.ttf") format("truetype");
}

.jumbotron {
  color: white;
  font-family: "BTTF", serif;
}

#header-title {
  font-family: "BTTF", serif;
}

#jumbotron-carslist {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("/jumbotron/delorean-carslist.jpg") no-repeat fixed;
  background-size: 100%;
}

#jumbotron-loginform {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("/jumbotron/delorean-login.jpg") no-repeat;
  background-size: 100%;
}

#jumbotron-configuratorform {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("/jumbotron/delorean-configure.jpg") no-repeat fixed;
  background-size: 100%;
}

#jumbotron-paymentform {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("/jumbotron/dollars-payment.jpg") no-repeat fixed;
  background-size: 100%;
}

#jumbotron-rentalslist {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("/jumbotron/delorean-rentals.jpg") no-repeat fixed;
  background-size: 100%;
}

.card-img-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0))
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#footer-resetpasswordform {
  margin-bottom: 20px;
}

#modal-rentalslist {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}